<center>
	<h1>Editing Five Color</h1>

	<%= link_to 'Show', @five_color, :class => "btn btn-light" %> |
	<%= link_to 'Back', five_colors_path, :class => "btn btn-light" %>

	<%= render 'form', five_color: @five_color %>
</center>

